@media all and (min-width: 900px){
    #menu{
        width: 100%;
        height: auto;
        background-color: red;
    }
    #menu ul{
        width: 100%;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #menu ul li{
        display: inline;
        word-spacing: 10px;
        font-family: Arial black;
    }
    #menu ul li a{
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 2px;
        color: black;
    }
    #menu ul li a:link, a:visited{
        color: white;
        padding: 20px;
    }
    #menu ul li a:hover{
        color: white;
    }
}

@media all and (min-width: 600px) and (max-widht: 899px){
    #menu{
        width: auto;
        height: auto;
        background-color: blue;
    }
    #menu ul{
        list-style: none;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #menu ul li{
        display: block;
        word-spacing: 4px;
        margin-bottom: 5px;
        text-align: center;
        font-family: arial black;
    }
    #menu ul li a{
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 4px;
        color: black;
    }
    #menu ul li a:link a:visited{
        color: white;
    }
    #menu ul li a:hover{
        color: white;
    }
}

@media all and (max-width: 599px){
    #menu{
        width: auto;
        height: auto;
        margin-bottom: auto;
        background-color: yellow;
    }
    #menu ul{
        list-style: none;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #menu ul li{
        text-align: center;
        display: block;
        word-spacing: 4px;
        margin-bottom: 5px;
        font-family: arial black;
    }
    #menu ul li a{
        text-decoration: none;
        font-size: 18px;
        color: black;
    }
    #menu ul li a:link, a:visited{
        color: white;
    }
    #menu ul li a:hover{
        color: white;
    }
}